.cart-table {
  border-bottom: 1px solid #ddd;
  &-image {
    height: 120px;
    img {
      height: 100%;
      object-fit: contain;
    }
  }
  &-bottom {
    margin-left: auto;
    text-align: right;
  }
  &-checkout {
  }
  &-row th,
  td:not(.cart-table-image) {
    padding-block: 20px;
  }
}
